<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Expires" content="-1"> 
	<meta http-equiv="Pragma" content="no-cache"> 
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta name="autocomplete" content="off" />
	<meta name="keywords" content="UI" /> 
	<meta name="description" content="UI" />
	<meta name="author" content="barchi" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Life</title>
	<link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
	<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
	<script src="//cdn.jsdelivr.net/npm/vue"></script>
	<script src="//unpkg.com/axios/dist/axios.min.js"></script>
	<script src="run.js"></script>
</head>
<body class="fadein">
	<div class="page">
		<div class="menu" :class="{none:menu_none}">
			<div v-for="(itm,index) in items" @click="smenu(index)" class="item">
				<div><i class="fa" :class="{ [itm.ico]:true }"></i></div>
				{{ itm.title }}
			</div>
		</div>
		<div class="smenu" :class="{none:smenu_none, pos:smenu_pos}">
			<div v-for="itm in items" class="item" :class="{none:!itm.selected, active:itm.selected && itm_active}">
				<div class="tit"><div class="back" @click="back"><i class="fa fa-undo"></i></div><i class="fa" :class="{ [itm.ico]:true }"></i> {{ itm.title }}</div>
				<div class="det">
					<a v-for="sub in itm.sub" :href="glnk(sub)" v-on:click.stop.prevent="fhub(sub.down,this.event)" class="link">{{ sub.title }}</a>
				</div>
			</div>
		</div>
		<div class="con" :class="{ none:con_none, mtop:smenu_pos }" ></div>
	</div>
</body>
</html>
